body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 30px 0;
  color: #007bff;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-container {
  margin-bottom: 20px;
  width: 90%;
  /* Ajustar el ancho del filtro */
  display: flex;
  justify-content: flex-start;
  /* Alinear el filtro a la izquierda */
}

#typeFilter {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

#typeFilter:focus {
  outline: none;
  border-color: #007bff;
}

table {
  width: 90%;
  margin: 0 auto;
  /* Eliminar el margen superior de la tabla */
  border-collapse: collapse;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 18px;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

tr:hover {
  background-color: #f0f8ff;
}

.audio-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.audio-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-button i {
  font-size: 24px;
  color: #007bff;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}